:root{
    --bg1-color: white;
    --bg2-color : black;
    --text1-color: white;
    --text2-color: black;
    --link-color : red;
    --misc-color : #00aaff;
    --border-color : white;
}

.dark-mode{
    --bg1-color: black;
    --bg2-color : white;
    --text1-color: black;
    --text2-color: white;
    --link-color : black;
    --misc1-color : #1eff00;
    --border-color : black;
}

body{
    border: 5px solid var(--border-color);
    background-color:  var(--bg2-color);
    color: var(--text1-color);
    font-family: monospace;
}

#d1{
    text-align: center;
}

h3{
    background-color: var(--bg1-color);
    color: var(--text2-color); 
}

p,li {
    margin-left: 30px ;
  }

table,th, td{
    border: 1px solid var(--border-color);
}

tbody tr:nth-child(even) {
background-color: var(--bg2-color); 
color: var(--text1-color);
}

tbody tr:nth-child(odd) {
background-color: var(--bg1-color); 
color: var(--text2-color);
}

a{
    color: var(--misc-color);
}

a:hover{
    color: var(--link-color);
}

img:hover{
    border: 1px solid var(--link-color);
}






  

  


